.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-direction: column;
}

.water-background {
  background-color: #4b495f;
  border-radius: 10px;
}

.game-heading {
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}
.square-wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.left,
.right {
  height: 30px;
  width: 120px;
  background-color: red;
  border-bottom-left-radius: 50px;
  background-color: #4b495f;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-size: 18px;
  padding-bottom: 5px;
  text-align: center;
}